:root {
    --transaction-margin: 20px;
    --input-width: 95%;
}

.addTransactionForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 70px;
}

.referenceNumberInput {
    width: 20%;
}



.ammountInput {
    /* grid-row-start: 2;
    grid-column-start: 2;
    width: var(--input-width); */
    width: 10%;
}



.dateInput {
  
    width: 16%;
}


.referenceNumberInput, .ammountInput, .dateInput {
    border: 0.5px solid black;
}

.duplicatesRefNums {
    font-size: small;
    color: gray;
    font-weight: bold;
    grid-column-start: 3;
}

.trasactionButton {
    grid-row-start: 3;
    color: white;
    border: none;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(76, 185, 68);
    height: 27px;
    width: 13%;
    /* margin-top: 15px; */
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .addTransactionForm {
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        justify-items: center;
    }
    .referenceNumberInput {
        grid-row-start: 2;
        width: 50%;
    }
    .duplicatesRefNums {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    .ammountTitle {
        grid-row-start: 4;
    }
    .ammountInput {
        grid-row-start: 5;
        width: 22%;
    }
    .dateTitle {
        grid-row-start: 6;
    }
    .dateInput {
        grid-row-start: 7;
        width: 40%;
    }
    .trasactionButton {
        grid-row-start: 9;
        width: 22%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .addTransactionForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    .referenceNumberInput {
        width: 50%;
    }
    .ammountInput {
        width: 28%;
    }
    .dateTitle {
        grid-row-start: 3;
        margin-left: 50px;
    }
    .dateInput {
        grid-column-start: 2;
        grid-row-start: 3;
        width: 50%;
    }
    .trasactionButton {
        grid-row-start: 4;
        margin-left: 50%;
        width: 22%;
    }
    .transactionTitle, .ammountTitle, .dateTitle {
        margin-left: 50%;
    }
}