 /* setting a set heigth results in overlap of the two divs when transaction button is clicked */

 /* solutions 1: make the inputs into inline tags and remove the block format */

 /* solutions 2: make the div big enough to fit the inputs after the button is cliked */

 .payeesAndTransactions {
     box-shadow: 0px 0px 6px rgb(221, 219, 219);
     /* height: 265px; */
     width: 90%;
     margin-left: 5%;
     margin-right: 20px;
 }

 .savedPayessContainer {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     border: 0.1px solid rgba(45, 48, 71, 0.2);
     margin-top: 20px;
 }

 .icons {
     display: flex;
     align-items: center;
     margin-bottom: 2px;
 }

 .icons button {
     margin-left: 10px;
     background-color: rgb(251, 251, 255);
     border: none;
 }

 .icon {
     font-size: 20px;
   
 }

 .icon:hover {
     cursor: pointer;
 }

  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(45, 48, 71);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -6%;
    margin-top: -27px;
   
    /* Position the tooltip text  */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



 @media only screen and (min-width: 320px) and (max-width: 479px) {
     .savedPayessContainer {
         display: grid;
         grid-template-rows: 1fr;
         grid-template-columns: 1fr;
         /* height: 160px; */
         justify-items: center;
     }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
     .containerTitle, .containerParaOne {
         width: 30%;
     }
     .containerParaTwo {
         width: 10%;
     }
 }

 @media only screen and (min-width: 992px) {
    .containerTitle, .containerParaOne {
        width: 30%;
    }
    .containerParaTwo {
        width: 10%;
    }
 }

